<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ShoppingList App ViCrunch</title>
    <link rel="stylesheet" href="mainMemo.css" />
  </head>
  <body>
    <div id="shopping-list">
      <div> Not possible: </br>
        \{\{var header = "welcome"\}\}</br>
        \{\{if (header){return "welcome"}\}\}</br>
      </div>
      <h1>{{header.toLocaleUpperCase()}}</h1>
      <h2>{{header ? header : "expression ternaire ok"}}</h2>
      <h2>{{header || "l'expression || marche aussi"}}</h2>
      <input v-model ="header"> 
      <!-- prérempli avec le data header -->
      <input v-model.lazy="newItem" type="text" placeholder="Add an item">
      <!-- <input v-model.trim="newItem" type="text" placeholder="Add an item">
      <input v-model.number="newItem" type="text" placeholder="Add an item"> -->
      <label><input type="radio" v-model="newItemPriority" value="low">low</label>
    <label><input type="radio" v-model="newItemPriority" value="high">high</label>

    <select v-model="newItemPriority">
        <option value="low">Low</option>
        <option value="high">high</option>
    </select>

    
    <label><input type="checkbox" v-model="iceCreamFlavors" value ='vanilla'> Vanilla</label>  
    <label><input type="checkbox" v-model="iceCreamFlavors" value ='chocolate'>Chocolate</label>  
    <label><input type="checkbox" v-model="iceCreamFlavors" value ='cookie'>Chocolate Cookie Chips</label>  

     <br>

    </br>
      {{newItem}} {{newItemPriority}}
    </br>
      {{newItem}}
      <ul>
        <!-- index de la boucle don't use index for :key car comme le montre cette démo avec l'objet l'index peut être changé.-->
        <!-- https://vueschool.io/articles/vuejs-tutorials/tips-and-gotchas-for-using-key-with-v-for-in-vue-js-3/ -->
        <li v-for="(item, key) in items" :key="item.id">{{key}} --- {{item.id}} --- {{item.label}}</li>
      </ul>
    </div>
    <div>

      <!-- how to ? Class -->
      <ul>
        <li v-for="item in items" :key="item.id"
        :class="[
          item.id < 2 ? 'test-color test-color2' : 'underlined',
          {strikeout: item.purchased, priority: item.priority},
          'static-class',
        ]"
        >{{item.label}}</li>
      </ul>

<!-- class  -->

    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const shoppingListApp = Vue.createApp({
        data(){
          return{
            header: "Vue is ready to party !",
            newItem: '',
            newItemPriority: 'low',
            iceCreamFlavors: [],
            // ceci est un objet car item:{}  et la clé est 'item-1':
            items: {
              'item-1': {id:1, label: "10 party hats"},
              'item-2': {id:2, label: "2 board games"},
              'item-3': {id:3, label: "20 cups"},
          }
          }
        }
      }).mount('#shopping-list')
    </script>
  </body>
</html>
